body {
  margin: 0;
  font-size: 16px;
  font-family: Ubuntu, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

aside {
  position: absolute;
  float: left;
  margin: 14px 14px 14px 0px;
  padding-left: 15px;
  top: auto;
  left: 10px;
}

header {
  display: flex;
  justify-content: center;
  align-content: center;
  object-fit: cover;
  width: 100vw;
  height: 100vh;
}

header img {
  justify-self: center;
  margin-right: 15px;
  align-self: center;
}

img {
  object-fit: cover;
  width: 300px;
  height: 300px;
}

section {
}
section.mainMenu {
  display: flex;
  margin: 10px;
}

article {
  display: none;
}

main {
  display: flex;
  justify-content: center;
  background-color: #929292;
  height: 600px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  align-self: center;
  align-self: flex-start;
  text-align: center;
}

li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}
li a:hover {
  background-color: rgba(0, 255, 0, 0.712);
  color: white;
}

.selectMenu {
  display: flex;
  flex-direction: column;
}

:root {
  --lightColor: rgb(245, 240, 240);
  --darkColor: rgba(0, 0, 0, 0.75);
}

.themeBtn {
  text-decoration: none;
  cursor: pointer;
  font-size: 0.9rem;
  height: 65px;
  width: 65px;
  border-radius: 100%;
  border: none;
  background: var(--lightColor);
  color: var(--darkColor);
}

.darkTheme {
  background: var(--darkColor);
  color: var(--lightColor);
}

@media screen and (max-width: 768px) {
  header {
    height: 400px;
  }
  header img {
    width: 350px;
  }

  main {
    flex-wrap: wrap;
    flex-direction: column;
  }
}

nav > ul {
  display: flex;
  flex-direction: row;
}