*,
::after,
::before {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-size: 16px;
  font-family: Ubuntu, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

main {
  background: gray;
}

aside {
  position: absolute;
  float: left;
  margin: 14px 14px 14px 0px;
  padding-left: 15px;
  top: auto;
  left: 10px;
}

header {
  display: flex;
  justify-content: center;
  align-content: center;
  object-fit: cover;
  width: 100vw;
  height: 100vh;
}

header img {
  justify-self: center;
  margin-right: 15px;
}

article img {
  width: 300px;
  height: 300px;
}

article {
  display: none;
}

h3 {
  margin-bottom: 10px;
  text-align: left;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

li a {
  display: block;
  color: #000;
  padding: 15px 20px;
  text-decoration: none;
  font-size: 20px;
  margin-bottom: 10px;
  text-align: center;
  border-radius: 20px;
  color: #000;
}
li a:hover {
  background-color: rgba(0, 255, 0, 0.712);
  color: white;
}

.mainMenu {
  display: flex;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.selectMenu {
  display: flex;
  flex-direction: column;
}

.menuArticle {
  display: flex;
  flex-direction: column;
  padding-right: 15px;
  padding-left: 15px;
}

.Pizza {
  display: flex;
  flex-wrap: wrap;
}
.Pasta {
  display: flex;
  flex-wrap: wrap;
}
.Desserts {
  display: flex;
  flex-wrap: wrap;
}

:root {
  --lightColor: rgb(245, 240, 240);
  --darkColor: rgba(0, 0, 0, 0.75);
}

.themeBtn {
  text-decoration: none;
  cursor: pointer;
  font-size: 0.9rem;
  height: 65px;
  width: 65px;
  border-radius: 100%;
  border: none;
  background: var(--lightColor);
  color: var(--darkColor);
}

.darkTheme {
  background: var(--darkColor);
  color: var(--lightColor);
}

@media screen and (max-width: 768px) {
  header {
    height: 400px;
  }
  header img {
    width: 350px;
  }

  main {
    flex-wrap: wrap;
    flex-direction: column;
  }
  section.mainMenu {
    display: flex;
    flex-direction: column;
  }
  .menuArticle {
    max-width: 720px;
    padding: 0;
    margin: auto;
  }
}

@media screen and (min-width: 768px) and (max-width: 1440px) {
  .mainMenu {
    width: 1000px;
  }
}
