*,
::after,
::before {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-size: 16px;
  font-family: "Red hat display";
}

main {
  background: rgba(104, 104, 104, 0.815);
}

aside {
  width: 100vw;
  position: absolute;
  float: left;
  margin: 14px 14px 14px 0px;
  padding-left: 15px;
  top: auto;
  left: 10px;
}

header {
  display: flex;
  justify-content: center;
  align-content: center;
  object-fit: cover;
  width: 100vw;
  height: 100vh;
}

header img {
  justify-self: center;
  margin-right: 15px;
}

article img {
  object-fit: cover;
  width: 400px;
  height: 300px;
}

figure {
  margin: 0;
}
figcaption {
  margin: 10px;
}

article {
  display: none;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 40px 10px;
  background-color: aliceblue;
}
article p {
  margin: 10px -10px;
}

.cartBtn {
  font-family: "Red hat display";
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  max-width: 100%;
  width: 40%;
  margin: auto;
  align-items: center;
  background: hsl(229, 100%, 76%);
  color: rgb(0, 0, 0);
  border-radius: 0.875rem;
  border: none;
  cursor: pointer;
  margin-bottom: 1rem;
  box-shadow: 5px 5px 15px 5px hsl(249deg 100% 50% / 25%);
}

h3 {
  margin-bottom: 10px;
  text-align: left;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

li a {
  display: block;
  color: #000;
  padding: 15px 20px;
  text-decoration: none;
  font-size: 20px;
  margin-bottom: 10px;
  text-align: center;
  border-radius: 20px;
  color: #000;
}
li a:hover {
  background-color: rgba(0, 255, 0, 0.712);
  color: white;
}

.mainMenu {
  display: flex;
  flex-direction: column;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.selectMenu {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menuArticle {
  display: flex;
  flex-direction: column;
  padding-right: 15px;
  padding-left: 15px;
  padding-bottom: 40px;
}

.AllSection,
.PizzaSection,
.PastaSection,
.DessertsSection {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* SHOPPING CART */
#vraiAside {
  width: 100vw;
  display: flex;
  justify-content: space-between;
}
#shopping-cart-btn {
  font-family: "Red hat display";
  text-decoration: none;
  cursor: pointer;
  font-size: 0.9rem;
  padding: 0;
  height: 65px;
  width: 130px;
  border-radius: 999px;
  border: none;
  margin: 15px 40px;
}
#asideCache {
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
}
#shopping-cart-section {
  padding: 5px 0px;
  width: 240px;
  background: rgba(0, 0, 0, 0.1);
}
#shopping-cart-section.disparu {
  overflow: hidden;
  width: 0px;
}
#cart-list-btns {
  display: flex;
  justify-content: space-around;
}
#total-price,
#cart-list-btns {
  padding: 5px 0px;
}
.article-cart {
  margin: 0;
  padding: 0;
}
article.article-cart {
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding: 5px 0px;
}
img.article-cart {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  margin-right: 10px;
}
/*  */

/* DARK/LIGHT MODE */
:root {
  --lightColor: rgb(245, 240, 240);
  --darkColor: rgba(0, 0, 0, 0.75);
}
.themeBtn {
  font-family: "Red hat display";
  text-decoration: none;
  cursor: pointer;
  font-size: 0.9rem;
  height: 65px;
  width: 65px;
  border-radius: 100%;
  border: none;
  background: var(--lightColor);
  color: var(--darkColor);
}
.darkTheme {
  background: var(--darkColor);
  color: var(--lightColor);
  margin: 15px;
}
/*  */

nav > ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

@media screen and (max-width: 768px) {
  header {
    height: 400px;
  }
  header img {
    width: 350px;
  }

  main {
    flex-wrap: wrap;
    flex-direction: column;
  }
  section.mainMenu {
    display: flex;
    flex-direction: column;
  }
  .menuArticle {
    max-width: 720px;
    padding: 0;
    margin: auto;
  }
}

@media screen and (min-width: 768px) and (max-width: 1440px) {
  .mainMenu {
    width: 1000px;
  }
}

nav > ul {
  display: flex;
  flex-direction: row;
}
