body {
  margin: 0;
  font-size: 16px;
  font-family: Ubuntu, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

header {
  display: flex;
  justify-content: center;
  align-content: center;
  object-fit: cover;
  width: 300px;
  height: 720px;
  margin: auto;
}

header img {
  margin: 0;
  align-self: center;
}

img {
  width: 300px;
  height: 300px;
}

article {
  display: none;
}

main {
  display: flex;
  justify-content: center;
  background-color: #929292;
}
:root {
  --lightColor: rgb(245, 240, 240);
  --darkColor: rgba(0, 0, 0, 0.75);
}

.darkTheme {
  background: var(--darkColor);
  color: var(--lightColor);
}

@media screen and (max-width: 768px) {
  header {
    height: 400px;
  }
  header img {
    width: 350px;
  }

  main {
    flex-wrap: wrap;
    flex-direction: column;
  }
}
